*{
    padding: 0;
    margin: 0;
}

.h1Principal{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: blueviolet;
    text-align: center;
    margin: 20px;
}

p{
    text-align: justify;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 30px;
}

.login{
    border: 2px solid #ccc;
    height: 300px;
    width: 300px;
    margin: auto;
    border-radius: 20px;
    backdrop-filter: blur(50px);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.login .nickname {
   width: 200px; 
   height: 25px;
   margin: 0px, auto, 5px, auto;
   border:none;
   border-bottom: 2px solid #007bff;
   margin-left: auto;margin-right: auto;
}
.login .senha {
   width: 200px; 
   height: 25px;
   border:none;
   border-bottom: 2px solid #007bff;
   margin-left: auto;margin-right: auto;margin-top: 50px;
}

.login .botaoLogin {
    margin-left: auto;margin-right: auto;
    margin-top: 50px;
    width: 200px;
    height:60px;
    border-radius: 20px;
    color: white;
    background-color: #007bff;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif
}

.h3Login{
    text-align: center;
    padding-bottom: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: blue;
}

.botaoLogin:hover{
    background-color: #006de1;
}

