* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(/telasTCC/html/imagem/Gemini_Generated_Image_bc26lkbc26lkbc26.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center; /* Alinha horizontalmente */
  align-items: center;
}

.login {
  border-radius: 20px;
  border: 1px solid #5f606a;
  margin: auto;
  height: 300px;
  width: 300px;
  background: rgba(255, 255, 255, 0.2);
  /* 2. O desfoque do que está ATRÁS da div */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* Suporte para Safari */
}

.tituloLogin {
  color: #393a40;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 25px;
}

.login form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
}

.login form .nickname input, .login form .senha input {
  border: none;
  background: transparent; /* Remove o fundo branco */
  border: none; /* Remove todas as bordas padrão */
  border-bottom: 2px solid #393a40; /* Adiciona apenas a borda de baixo (Light Blue) */
  outline: none; /* Remove a borda azul forte que aparece ao clicar */
  color: #393a40; /* Garante que o texto digitado seja visível no fundo escuro */
  padding: 10px 5px; /* Espaçamento interno para não grudar na linha */
  width: 80%; /* Ajuste de largura conforme sua necessidade */
  margin: 15px 0; /* Espaço entre um input e outro */
  font-size: 13px;
}

.nickname::after {
  content: url(/telasTCC/html/imagem/skull.png);
  position: absolute;
  right: 5px; /* Distância da borda direita */
  bottom: 15px; /* Ajuste conforme a altura da sua linha azul */
  pointer-events: none; /* Garante que clicar no ícone ainda selecione o input */
}

.nickname {
  position: relative; /* Base para o ícone se posicionar */
  width: 80%;
  display: flex;
  align-items: center;
}

.nickname input {
  width: 100% !important; /* Faz o input ocupar o espaço da div */
  padding-right: 30px; /* Abre espaço na direita para o ícone não cobrir o texto */
}

.senha {
  position: relative;
  width: 80%;
  display: flex;
  align-items: center;
}

.senha input {
  width: 100% !important;
  padding-right: 30px;
}

.senha::after {
  content: url(/telasTCC/html/imagem/lock-keyhole.png);
  position: absolute;
  right: 5px; /* Distância da borda direita */
  bottom: 15px; /* Ajuste conforme a altura da sua linha azul */
  pointer-events: none; /* Garante que clicar no ícone ainda selecione o input */
}

.botaoLogin {
  box-sizing: border-box;
  background-color: #0093ba;
  font-size: 25px;
  height: 80px; /* Defina uma altura fixa */
  width: 65%;
  border-radius: 5px;
  border: 1px solid #393a40;
  color: #eeeef0;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.botaoLogin:hover {
  background-color: #0092bad6;
}

.navegacao {
  background-color: #0f1b1f;
}
.botaoLogin::after {
  content: url(/telasTCC/html/imagem/log-in.svg);
  display: inline-block;
  vertical-align: middle;
}

.remeberLogin{
    display: flex;
    width: 80%;
    color: #FAFDFE;
    font-size: 12px;
    font-weight: bold;
    align-items: center;
    margin-top: -9px;
    margin-bottom: 20px;
}

.labelRemember{
    width: 100px;
}

.remembermeCheckBox{
    height: 12px;
    width: 0px;
}

input[type="checkbox"] {
  margin: 0;
  display: block;
  width: 2px;
  height: 12px;
}

.login form .remeberLogin input {
    width: 12px;
}